<div class="index">
  <h2>Games This Season</h2>
  <span class="subtitle">Click Team name for team stats</span>
  <ul>
    <% @stats.each do |game| %>
    <li>
        <div class="left">
          <a href="/teams/<%= game[:home_team] %>"><%= game[:home_team] %></a>
        </div>
        <div class="score">
          <%= game[:home_score] %>
        </div>
        <div class="score">
          <%= game[:away_score] %>
        </div>
        <div class="right">
          <a href="/teams/<%= game[:away_team] %>"><%= game[:away_team] %></a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
